/*--------------------------Font Declaration--------------------------*/
@font-face{
	font-family: Righteous;
	src: url(http://fonts.googleapis.com/css?family=Righteous);
}

@font-face{
	font-family: Shojumaru;
	src: url(http://fonts.googleapis.com/css?family=Shojumaru);
}
/*--------------------------Body Background--------------------------*/
body{
	font: 100%/1.5;
	max-width: 960px;
	margin: 0 auto;
	background-image: url('../images/bg_main.jpg');
	background-repeat: repeat-x;
	background-color: #550602;
	color: #f3d18a;
}
/*--------------------------Navigation--------------------------*/
nav ul{
	list-style-type: none;
	margin: 0 auto;
	padding-left: 15.625%;
	border: none;
	overflow: hidden;
}

nav li{
	width: 22.91667%;
	float: left;
	font-size: 1.25em;
	font-family: 'Righteous', cursive;
}

nav a{
	display: block;
	width: 15.625%;
	text-decoration: none;
	color: orange;
}

nav a:visited{
	text-decoration: none;
	color: purple;
}

nav a:hover{
	background: #f3d18a;
	border-radius: 40px 10px;
	color: red;
	
}

nav a:active{
	background: #550602;
	color: #f3d18a;
}

ol{
	text-align: left;
	width: 62.5%;
	margin: 0 auto;
	overflow: hidden;
}
/*--------------------------Main Content--------------------------*/
#wrapper{
	background: #2f0101;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

#mainimage{
	margin: 0 auto;
	border: solid;
	width: 96.875%;
}

#mainimage img{
	max-width: 100%;
}

h1{
	font-size: 3.75em;
	text-align: center;
	font-family: 'Shojumaru', cursive, arial;
}

header{
	text-align: center;
	}
	
h2{
	font-size: 2.5em;
	text-decoration: none;
	font-family: 'Righteous', cursive;
}

h3{
	padding: 1.0416667%;
	text-shadow: #fff 0.3em 0.1em 1em;
	font-family: 'Righteous', cursive;
}

h4{
	text-decoration: underline;
}

#maincontent{
	width: 100%;
	text-align: center;
	font: 100%;
}
#aboutgw2{
	padding: 0.5208333%;
	-moz-column-count: 3;
	-moz-column-gap: 1.5em;
	-moz-column-rule: 2px dashed #550602;	
}
	
article{
	width: 50%; /*480px*/
	float:left;
}

article h2{
	font-size: 1.5625em;
}

aside{
	width: 50%;
	overflow: hidden;
}


.clearfix{
	clear:both;
}
/*--------------------------Professions Content--------------------------*/
#professioncontent{
	width: 100%;
	clear: both;
	text-align: center;
}

#professioncontent h2{
		padding-top: 2.083333%;
		font-size: 2.5em;
}
.profimg{
	border: none;
	float: left;
}

.profession_info{
	width: 100%;
}

.profsection{
	width: 50%;
	height: 46.875%;
	float: left;
	text-align: left;
}

h3{
	margin: 0px;
}
/*--------------------------Gallery--------------------------*/
#gallery{
	width: 93.75%;
	height: 100%;
	margin: 0 auto;
	clear: left;
}

#gallery img{
	max-width: 100%;
}

#gallerysection h2{
	clear: left;
	padding-top: 2.083333%;
	font-size: 2.5em;
	text-align: center;
}

ul{
	border: solid 1px;
	list-style-type: none;
	overflow: hidden;
}

ul li{
	float: left;
	padding: 1.041667%;
}

#gallery a{
	border: solid 10px green;
	width: 90%;
	display: block;
}

#gallery a:visited{
	border-color:purple;
}

#gallery a:hover{
	border-color:orange;
}

#gallery a:active{
	border-color:#f3d18a;
}
/*--------------------------Footer--------------------------*/
footer{
	
	text-align: center;
	background: black;
	padding: 0.1041667% 1.041667%;
	
}